.movie-layout{
    flex-wrap: nowrap;
}
.col-md-2{
    padding: 0px 10px;
}
.col-md-6{
    padding: 0px 25px;
}
.seat{
    width: 10px;
    height: 10px;
    border-radius: 50% 50% 0px 0px;
    margin: 3px;
    cursor: pointer;
}
.seat:hover{
    transform: scale(1.1);
}
.row{
    justify-content: center;
    align-items: flex-start;
}
.seat-grey{
    background-color: #e30f16;
}
.seat-black{
    background-color: rgb(21, 237, 28);
}
.seat-undefined{
    cursor: auto;
    pointer-events: none;
}
.movie-complex p{
    text-align: center;
    font-size: 30px;
}
.movie-selector{
    width: 700px;
}